<div class=right>
  <h2>連絡事項投稿</h2>
  <%= form_with(model:[@patient, Information.new], url: patient_informations_path(@patient)) do |f| %>
    <p><%= f.text_area :comment, required: true, :size=>"50x5" %></p>
    <%= f.submit "送信" %></p>
<% end %>
<hr>
<h2>連絡事項一覧</h2>
<p>
  <% @informations.each do |information| %>
    <div>
      <span class="name"><%= l information.user.created_at %> </span>
      【投稿者】<%= information.user.name %>
    </div>
    <hr width="50%" align="left">
    <div><%= safe_join(information.comment.split("\n"),tag(:br)) %></div>
    <% if current_user.id == information.user_id %>
      <%= link_to "削除", patient_information_path(information.patient.id, information.id), method: :delete, data: { confirm: "削除しますか？" } %>
    <% end %>
  </p>
<% end %>
<%= paginate @informations %>
</div>
