<h1>利用者情報詳細</h1>
<p>【ID】 <%= @patient.id %></p>
<p>【名前】 <%= @patient.name %></p>
<p>【生年月日】 <%= @patient.birthday %></p>
<p>【年齢】
  <% date_format = "%Y%m%d" %>
  <%= "#{(Date.today.strftime(date_format).to_i - @patient.birthday.strftime(date_format).to_i) / 10000 }歳"%>
</p>
<p>【性別】 <%= @patient.gender %></p>
<p>【住所】 <%= @patient.address %></p>
<p>【要介護度】 <%= @patient.degree_of_care %></p>
<p>【キーパーソン】 <%= @patient.key_person %></p>
<p>
  <%= link_to "編集", edit_patient_path(@patient) %>
</p>
<p><%= link_to "利用者一覧", patients_path %></p>
